server:
  port: 8081

spring:
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI:mongodb://localhost:27017/auditdb}

  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "com.henrique.audit.dto.audit"


resilience4j:
  circuitbreaker:
    instances:
      groqAI:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 30s
        permittedNumberOfCallsInHalfOpenState: 3

management:
  endpoints:
    web:
      exposure:
        include: health,circuitbreakers,circuitbreakerevents,loggers
  endpoint:
    health:
      show-details: when_authorized

  health:
    circuitbreakers:
      enabled: true

app:
  kafka:
    topics:
      audit-events: ${APP_KAFKA_TOPIC_AUDIT_EVENTS:audit-events}
    group-ids:
      audit-service-group: audit-service-group
      audit-ai-group: audit-ai-group
  groq:
    api:
      baseUrl: https://api.groq.com/openai
      completionUrl: /v1/chat/completions
      key: ${APP_GROQ_API_KEY:replace_with_groq_key}

logging:
  level:
    com:
      henrique:
        audit:
          infrastructure:
            consumer: DEBUG
          service: DEBUG
